/* Reseteo de estilos básicos para todos los elementos */
*{
    padding: 0; /* Elimina el padding predeterminado */
    margin: 0;  /* Elimina el margin predeterminado */
    text-decoration: none; /* Elimina cualquier subrayado en los enlaces */
}

/* Estilo de fondo para el body */
body{
    background: #FDFAF6; /* Color de fondo suave */
}

/* Estilos para el contenedor del título */
.contenedor-titulo{
    background-color: #F5EEDD; /* Fondo claro */
    width: 100%; /* Ocupa todo el ancho */
    height: 300px; /* Altura del contenedor */
}

/* Estilo para el título dentro del contenedor */
.titulo{
    margin: 0 auto; /* Centra el título */
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Ocupa toda la altura */
    display: block; /* Asegura que el contenido se muestre como un bloque */
    text-align: center; /* Alinea el texto al centro */
    align-content: center;
}

/* Contenedor de los datos (formulario y tabla) */
.contenedor-datos{
    margin-top: 25px; /* Espacio superior */
    width: 100%; /* Ocupa todo el ancho */
    height: 600px; /* Altura del contenedor */
    padding: 20px; /* Espaciado interno */
    display: flex; /* Flexbox para alinear los elementos */
    align-content: center; /* Alinea el contenido verticalmente */
    text-align: center; /* Centra el texto */
}

/* Contenedor del formulario */
.contenedor-form{
    width: 33%; /* Ancho del formulario */
    box-sizing: border-box; /* Incluye el padding y border dentro del ancho */
    font-family: "Inter", sans-serif; /* Fuente */
    display: flex; /* Flexbox para alinear los elementos dentro del formulario */
    justify-content: center; /* Centra el formulario horizontalmente */
    align-items: center; /* Centra el formulario verticalmente */
    text-align: left; /* Alinea el texto a la izquierda */
    margin-left: 8%; /* Espacio izquierdo */
    border-radius: 50px; /* Bordes redondeados */
    box-shadow: 0 0 5px #000000; /* Sombra ligera */
    background-color: #EBE8DB; /* Color de fondo suave */
}

/* Estilo para el grupo de campos dentro del formulario */
.form-group{
    display: grid; /* Utiliza un grid para los campos */
    grid-template-columns: repeat(2,1fr); /* Dos columnas iguales */
    grid-gap: 40px; /* Espacio entre columnas */
    margin-bottom: 20px; /* Espacio debajo del grupo */
}

/* Estilo para los campos de entrada dentro del formulario */
.form-content{
    display: flex; /* Flexbox para la disposición de los elementos */
    flex-direction: column; /* Coloca los elementos en una columna */
}

/* Estilo para las etiquetas de los campos */
.form-label{
    font-weight: 600; /* Peso de la fuente */
    color: #000000; /* Color del texto */
    margin-bottom: 10px; /* Espacio debajo de la etiqueta */
    font-family: "Inter", sans-serif; /* Fuente */
    font-size: 20px; /* Tamaño de la fuente */
}

/* Estilo para los campos de entrada */
.form-input{
    height: 50px; /* Altura del campo */
    width: 100%; /* Ancho completo */
    border-radius: 10px; /* Bordes redondeados */
    border: 1px solid #000000; /* Borde negro */
    background: #FFFFFF; /* Fondo blanco */
    font-weight: 500; /* Peso de la fuente */
    font-size: 20px; /* Tamaño de la fuente */
    outline: none; /* Elimina el borde del campo al hacer foco */
    resize: none; /* Deshabilita el redimensionamiento */
}

/* Estilo para los campos de entrada válidos (cuando pasan la validación) */
.form-input:valid {
    background-color: #ACD3A8; /* Fondo verde claro cuando el campo es válido */
}

/* Estilo para los campos de entrada cuando están en foco (clicked o activados) */
.form-input:focus {
    border-color: #6a64f1; /* Cambio de color del borde al foco */
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05); /* Sombra sutil */
}

/* Estilo para el contenido de los campos select dentro del formulario */
.form-content-select{  
    height: 50px; /* Altura del campo */
    width: 100%; /* Ancho completo */
    font-weight: 500; /* Peso de la fuente */
    font-size: 20px; /* Tamaño de la fuente */
}

/* Estilo general para los campos select */
.select{
    height: 50px; /* Altura del campo select */
    width: 100%; /* Ancho completo */
    cursor: pointer; /* Muestra un cursor de puntero */
    border-radius: 10px; /* Bordes redondeados */
    border: 1px solid #000000; /* Borde negro */
}

/* Estilo para el botón de guardar */
.btn-Guardar{
    margin-left: 145px; /* Espacio izquierdo */
    margin-top: 100px; /* Espacio superior */
    padding: 15px; /* Espaciado interno */
    width: 40%; /* Ancho del botón */
    color: #000000; /* Color del texto */
    background-color: #e69a0d; /* Fondo color naranja */
    border: none; /* Sin borde */
    border-radius: 50px; /* Bordes redondeados */
    font-size: 17px; /* Tamaño de la fuente */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente */
    font-weight: 600; /* Peso de la fuente */
    cursor: pointer;
}

/* Efecto hover para el botón de guardar */
.btn-Guardar:hover{
    background: black; /* Fondo negro cuando el cursor está sobre el botón */
    color: white; /* Texto blanco al hacer hover */
    transition: all .4s; /* Transición suave */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}

/* Estilo para el contenedor de la tabla */
.contenedor-tabla{
    width: 60%; /* Ancho del contenedor */
    padding: 10px; /* Espaciado interno */
    margin-left: 2%; /* Margen izquierdo */
}

/* Contenedor para habilitar el desplazamiento en la tabla */
.scroll-wrapper{
    max-height: 300px; /* Altura máxima */
    overflow-y: auto; /* Habilita el scroll vertical */
    margin: 0 auto; /* Centra el contenedor */
}
