body {
  text-align: center;
  background-color: #000000;
  background-image: url("https://images.unsplash.com/photo-1556742212-5b321f3c261b?auto=format&fit=crop&q=80&w=1740&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

.fa-circle-check{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 8em;
  margin-top: 15%;
}

.text{
  color: rgb(243, 231, 231);
  font-size: 2em;
}

.text2{
  text-decoration: none;
  font-size: 2em;
  color: rgb(242, 245, 244);
}

.text2:hover{
  border: 1px solid #000;
  transition: color 0.3s, background-color 0.3s;
}


}